@{
    ViewBag.Title = "About";
}


<br />
<center>
    <h1 style="font-family:'Segoe Script'"> Daily Plans </h1>
</center>
<br />

<div class="slideshow-container">

    <div class="mySlides">
        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style="width: 600px; display: table-cell;">
                    <h4>Saturday, July 1st, 2023</h4>
                    <table border="1">
                        <tr>
                            <th width="100px" style="background-color:#ccccff; font-size:16px">Time</th>
                            <th width="400px" style="background-color: #ccccff; font-size: 16px">Task</th>
                        </tr>
                        <tr>
                            <td>12:00am - 1:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>1:00am - 2:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00am - 3:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00am - 4:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00am - 5:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00am - 6:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00am - 7:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00am - 8:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>8:00am - 9:00am</td>
                            <td>Breakfast</td>
                        </tr>
                        <tr>
                            <td>9:00am - 10:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00am - 11:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00am - 12:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>12:00pm - 1:00pm</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>1:00pm - 2:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00pm - 3:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00pm - 4:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00pm - 5:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00pm - 6:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00pm - 7:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00pm - 8:00pm</td>
                            <td>Dinner</td>
                        </tr>
                        <tr>
                            <td>8:00pm - 9:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>9:00pm - 10:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00pm - 11:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00pm - 12:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                    </table>
                </div>


                <div style="display: table-cell;">
                    <h4>To-Do List</h4>
                    <div id="myDIV" class="header">
                        <input type="text" id="myInput" placeholder="Task...">
                        <span onclick="newElement()" class="addBtn">Add</span>
                    </div>

                    <ul id="myUL">
                        <li>Do the laundry</li>
                        <li>Organize your room</li>
                        <li>Touch grass</li>
                        <li>Shower</li>
                        <li>Meditate</li>
                    </ul>

                    <script>
                        // Create a "close" button and append it to each list item
                        var myNodelist = document.getElementsByTagName("LI");
                        var i;
                        for (i = 0; i < myNodelist.length; i++) {
                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            myNodelist[i].appendChild(span);
                        }

                        // Click on a close button to hide the current list item
                        var close = document.getElementsByClassName("close");
                        var i;
                        for (i = 0; i < close.length; i++) {
                            close[i].onclick = function () {
                                var div = this.parentElement;
                                div.style.display = "none";
                            }
                        }

                        // Checks off list item when clicked --> item is done!
                        var list = document.querySelector('ul');
                        list.addEventListener('click', function (ev) {
                            if (ev.target.tagName === 'LI') {
                                ev.target.classList.toggle('checked');
                            }
                        }, false);

                        // Create a new list item when clicking on the Add button
                        function newElement() {
                            var li = document.createElement("li");
                            var inputValue = document.getElementById("myInput").value;
                            var t = document.createTextNode(inputValue);
                            li.appendChild(t);
                            if (inputValue === '') {
                                alert("You must write something!");
                            } else {
                                document.getElementById("myUL").appendChild(li);
                            }
                            document.getElementById("myInput").value = "";

                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            li.appendChild(span);

                            for (i = 0; i < close.length; i++) {
                                close[i].onclick = function () {
                                    var div = this.parentElement;
                                    div.style.display = "none";
                                }
                            }
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <div class="mySlides">
        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style="width: 600px; display: table-cell;">
                    <h4>Sunday, July 2, 2023</h4>
                    <table border="1">
                        <tr>
                            <th width="100px" style="background-color: #ccccff; font-size: 16px">Time</th>
                            <th width="400px" style="background-color: #ccccff; font-size: 16px">Task</th>
                        </tr>
                        <tr>
                            <td>12:00am - 1:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>1:00am - 2:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00am - 3:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00am - 4:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00am - 5:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00am - 6:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00am - 7:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00am - 8:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>8:00am - 9:00am</td>
                            <td>Breakfast</td>
                        </tr>
                        <tr>
                            <td>9:00am - 10:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00am - 11:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00am - 12:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>12:00pm - 1:00pm</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>1:00pm - 2:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00pm - 3:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00pm - 4:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00pm - 5:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00pm - 6:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00pm - 7:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00pm - 8:00pm</td>
                            <td>Dinner</td>
                        </tr>
                        <tr>
                            <td>8:00pm - 9:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>9:00pm - 10:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00pm - 11:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00pm - 12:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                    </table>
                </div>
                <div style="display: table-cell;">
                    <h4>To-Do List</h4>
                    <div id="myDIV" class="header">
                        <input type="text" id="myInput" placeholder="Title...">
                        <span onclick="newElement()" class="addBtn">Add</span>
                    </div>

                    <ul id="myUL">
                        <li>Do the laundry</li>
                        <li>Organize your room</li>
                        <li>Touch grass</li>
                        <li>Shower</li>
                        <li>Meditate</li>
                    </ul>

                    <script>
                        // Create a "close" button and append it to each list item
                        var myNodelist = document.getElementsByTagName("LI");
                        var i;
                        for (i = 0; i < myNodelist.length; i++) {
                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            myNodelist[i].appendChild(span);
                        }

                        // Click on a close button to hide the current list item
                        var close = document.getElementsByClassName("close");
                        var i;
                        for (i = 0; i < close.length; i++) {
                            close[i].onclick = function () {
                                var div = this.parentElement;
                                div.style.display = "none";
                            }
                        }

                        // Add a "checked" symbol when clicking on a list item
                        var list = document.querySelector('ul');
                        list.addEventListener('click', function (ev) {
                            if (ev.target.tagName === 'LI') {
                                ev.target.classList.toggle('checked');
                            }
                        }, false);

                        // Create a new list item when clicking on the "Add" button
                        function newElement() {
                            var li = document.createElement("li");
                            var inputValue = document.getElementById("myInput").value;
                            var t = document.createTextNode(inputValue);
                            li.appendChild(t);
                            if (inputValue === '') {
                                alert("You must write something!");
                            } else {
                                document.getElementById("myUL").appendChild(li);
                            }
                            document.getElementById("myInput").value = "";

                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            li.appendChild(span);

                            for (i = 0; i < close.length; i++) {
                                close[i].onclick = function () {
                                    var div = this.parentElement;
                                    div.style.display = "none";
                                }
                            }
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>

    <div class="mySlides">
        <div style="width: 100%; display: table;">
            <div style="display: table-row">
                <div style="width: 600px; display: table-cell;">
                    <h4>Monday, July 3, 2023</h4>
                    <table border="1">
                        <tr>
                            <th width="100px" style="background-color: #ccccff; font-size: 16px">Time</th>
                            <th width="400px" style="background-color: #ccccff; font-size: 16px">Task</th>
                        </tr>
                        <tr>
                            <td>12:00am - 1:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>1:00am - 2:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00am - 3:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00am - 4:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00am - 5:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00am - 6:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00am - 7:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00am - 8:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>8:00am - 9:00am</td>
                            <td>Breakfast</td>
                        </tr>
                        <tr>
                            <td>9:00am - 10:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00am - 11:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00am - 12:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>12:00pm - 1:00pm</td>
                            <td>Lunch</td>
                        </tr>
                        <tr>
                            <td>1:00pm - 2:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>2:00pm - 3:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>3:00pm - 4:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>4:00pm - 5:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>5:00pm - 6:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>6:00pm - 7:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>7:00pm - 8:00pm</td>
                            <td>Dinner</td>
                        </tr>
                        <tr>
                            <td>8:00pm - 9:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>9:00pm - 10:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>10:00pm - 11:00pm</td>
                            <td><input type="text" /></td>
                        </tr>
                        <tr>
                            <td>11:00pm - 12:00am</td>
                            <td><input type="text" /></td>
                        </tr>
                    </table>
                </div>
                <div style="display: table-cell;">
                    <h4>To-Do List</h4>
                    <div id="myDIV" class="header">
                        <input type="text" id="myInput" placeholder="Title...">
                        <span onclick="newElement()" class="addBtn">Add</span>
                    </div>

                    <ul id="myUL">
                        <li>Do the laundry</li>
                        <li>Organize your room</li>
                        <li>Touch grass</li>
                        <li>Shower</li>
                        <li>Meditate</li>
                    </ul>

                    <script>
                        // Create a "close" button and append it to each list item
                        var myNodelist = document.getElementsByTagName("LI");
                        var i;
                        for (i = 0; i < myNodelist.length; i++) {
                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            myNodelist[i].appendChild(span);
                        }

                        // Click on a close button to hide the current list item
                        var close = document.getElementsByClassName("close");
                        var i;
                        for (i = 0; i < close.length; i++) {
                            close[i].onclick = function () {
                                var div = this.parentElement;
                                div.style.display = "none";
                            }
                        }

                        // Add a "checked" symbol when clicking on a list item
                        var list = document.querySelector('ul');
                        list.addEventListener('click', function (ev) {
                            if (ev.target.tagName === 'LI') {
                                ev.target.classList.toggle('checked');
                            }
                        }, false);

                        // Create a new list item when clicking on the "Add" button
                        function newElement() {
                            var li = document.createElement("li");
                            var inputValue = document.getElementById("myInput").value;
                            var t = document.createTextNode(inputValue);
                            li.appendChild(t);
                            if (inputValue === '') {
                                alert("You must write something!");
                            } else {
                                document.getElementById("myUL").appendChild(li);
                            }
                            document.getElementById("myInput").value = "";

                            var span = document.createElement("SPAN");
                            var txt = document.createTextNode("\u00D7");
                            span.className = "close";
                            span.appendChild(txt);
                            li.appendChild(span);

                            for (i = 0; i < close.length; i++) {
                                close[i].onclick = function () {
                                    var div = this.parentElement;
                                    div.style.display = "none";
                                }
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)" style="margin:-50px">❮</a>
    <a class="next" onclick="plusSlides(1)" style="margin:-50px">❯</a>

</div>
<br>


<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>




<style>
    th {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-spacing: 5px;
        font-family: 'Ink Free';
        font-weight: bold;
        color: black;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        border-spacing: 5px;
        height: 50px;
        font-size: 16px;
        font-family: 'Ink Free';
        font-weight: bold;
        color: black;
    }


    * {
        box-sizing: border-box;
    }



    /*For the To Do list*/

    ul {
        margin: 0;
        padding: 0;
    }

    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        font-family: 'Ink Free';
        font-weight: bold;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* All odd list items different color */
    ul li:nth-child(odd) {
        background: #f9f9f9;
    }

    /* Darker background color on hover */
    ul li:hover {
        background: #ddd;
    }

    /* When clicked on, add a background color and strike out text --> creates checked off */
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }

    /* Add a check mark when clicked on */
    ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }

    .close {
        position: absolute;
        right: 0;
        top: 0;
        bottom:0;
        padding: 12px 16px 12px 16px;
    }

    .close:hover {
        background-color: #f44336;
        color: white;
    }

    .header {
        background-color: #ccccff;
        padding: 30px 40px;
        color: white;
        text-align: center;
    }

    .header:after {
        content: "";
        display: table;
        clear: both;
    }

    input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
        font-family: 'Ink Free';
        font-weight: bold;
        color: black;
    }

    .addBtn {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        font-family: 'Ink Free';
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }

    .addBtn:hover {
        background-color: #bbb;
    }




    /*For the slideshow*/

    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    .prev, .next {
        cursor: pointer;
        position: fixed;
        top: 55%;
        width: auto;
        padding: 12px;
        margin: -10px;
        color: gray;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 0 0 0;
        user-select: none;
    }

    .next {
        right: 200px;
        border-radius: 0 0 0 0;
    }

    .prev:hover, .next:hover {
        background-color: #9670EF;
        color: white;
    }


    /*Other stuff misc*/

    body {
        background-color: #EDECFE;
    }

    h4{
        font-size: 24px;
        font-family: 'Segoe Script';
    }
    td{
        background-color:white;
    }

</style>